@charset"UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: 'droid';
    src: url('/font/droid.otf') format('opentype');
    font-weight: normal;
}


/*
#c5ebd6
#83e1ad
f
#3ddc84
#8fa866
#1a5c37
#063d1e
*/

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: #c5ebd6 ;
    --cor1: #83e1ad ;
    --cor2: #3ddc84 ;
    --cor3: #8fa866 ;
    --cor4: #1a5c37 ;
    --cor5: #063d1e ;
    --cor6: #ff0000;
    --cor7: #ffff00;

    --font-padrao: arial, verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-droid:'droid';
}

body{
    background-color:var(--cor0) ;
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor5));
    min-height: 150PX;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: var(--cor3);
    font-family: var(--font-destaque);
    font-size: 3em;
    color: white;    
    margin-bottom: 20px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.514);
    font-weight: normal;
    
}

header > p{
    font-family: var(--font-padrao);
    color: white;
    font-size: 1.2em;
    margin: auto;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.514);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.332);
}

nav > a{
    color: white;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover{
    color: black;
    text-decoration: underline;
    background-color: var(--cor2);
}

.linkexterno::after{
    content: '\1f517';
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 0 10px;
    border-radius: 0 0 10px 10px;
}

main p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;

}

main strong{
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor1)
}

main a:hover{
    background-color:var(--cor3) ;
    text-decoration: underline;
}

main img{
width: 100%;
}

main img.pequena{
    width: 300px;
    display: block;
    margin: auto;
}

main h1{
    color: var(--cor5);
    font-family: var(--font-droid);
}

main h2{
    font-family: var(--font-droid);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.519);
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2713\00a0\00a0';
}

li::after{
    content: '\00a0\00a0\1F60B';

}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius:10px 10px 0 0 ;
    font-weight: normal;
}

.video{
    background-color: var(--cor5);
    margin: 0 -20px 20px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.6%;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

footer{
    background-image: linear-gradient(to right, var(--cor6), var(--cor7));
    color: white;
    text-align: center;
    font-weight: bold;

}

footer a{
    text-decoration: none;
    font-style: italic;
    font-family: 'droid';
    color: purple;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    background-color: orangered;
    
}


